* {
  font-family: "poppins";
}
body {
  background-color: rgb(0, 0, 0);
  color: white;
}
form > button {
  width: 10rem;
}

button {
  width: fit-content;
  padding: 5px 10px;
}
.sidebar {
  grid-column: 1 / 2;
  border-radius: 15px;
  width: 20vw;
  height: 80vh;
  background-color: rgb(0, 0, 0);
  color: white;
  border: 2px solid white;
  padding: 20px;
  justify-items: center;
}
header {
  justify-items: center;
}

.projectDivTemplate {
  width: 19vw;
  height: 5vh;
  display: flex;
  padding: 10px;
  justify-content: space-between;
  margin: 10px;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  transition: 0.1s ease-in;
  align-items: center;
}
.projectDivTemplate:hover {
  transform: scale(1.05);
  background-color: rgb(83, 78, 78);
  border-radius: 10px;
}

.projectTitle {
  display: flex;
  font-size: 1.25rem;
  padding: 5px 25px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
  outline: none;
  border: none;
  width: 16vw;
  height: 5vh;
  transition: 0.1s ease-in;
}

.projectTitle:hover {
  background-color: rgb(83, 78, 78);
  border-radius: 10px;
}
.deleteProjectBtn {
  background-image: url(./assets/icons/delete-svgrepo-com.svg);
  font-size: 1.25rem;
  background-size: contain;
  justify-content: space-between;
  background-repeat: no-repeat;
  /* display: inline-block; */
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 30%;
  cursor: pointer;
  padding: 0px;
  border: none;
  transition: 0.1s ease-in;
}
.deleteProjectBtn:hover {
  border-radius: 30%;
  box-shadow: 0px 0px 50px red;
}
#createProject {
  font-size: 1.25rem;
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  padding: 5px;
  transition: 0.1s ease-in;
}
#createProject:hover {
  color: black;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px cyan;
}
.deleteTodoBtn {
  background-image: url(./assets/icons/delete-svgrepo-com.svg);
  font-size: 1.25rem;
  background-size: contain;
  justify-content: space-between;
  background-repeat: no-repeat;
  /* display: inline-block; */
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 30%;
  cursor: pointer;
  padding: 0px;
  border: none;
  transition: 0.1s ease-in;
}
.deleteTodoBtn:hover {
  border-radius: 30%;
  box-shadow: 0px 0px 50px red;
}
.editTodo {
  background-image: url(./assets/icons/edit-svgrepo-com.svg);
  font-size: 1.25rem;
  background-size: contain;
  justify-content: space-between;
  background-repeat: no-repeat;
  /* display: inline-block; */
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 30%;
  cursor: pointer;
  padding: 0px;
  border: none;
  transition: 0.1s ease-in;
}
.editTodo:hover {
  border-radius: 30%;
  box-shadow: 0px 0px 50px yellow;
}
#completed {
  width: 1.25rem;
  height: 1.25rem;
  accent-color: lime;
}
.mainContainer {
  /* display: flex; */
  border-radius: 10px;
  display: grid;
  justify-items: center;
  margin-right: 10px;
  grid-column: 3 / -1;
  background-color: rgb(0, 0, 0);
  height: fit-content;
  padding: 10px;
  border-radius: 15px;
  border: 2px solid white;
}
.todoDivTemplate {
  border-radius: 15px;
  align-items: center;
  transition: 0.1s ease-in;
}
/* .todoDivTemplate:hover{
    transform: scale(0.99);
} */
#createTodo {
  cursor: pointer;
  background-color: black;
  color: white;
  border: none;
  font-size: 1.25rem;
  width: fit-content;
  padding: 5px 10px;
  transition: 0.1s ease-in;
}
#createTodo:hover {
  box-shadow: 0px 0px 25px cyan;
  border-radius: 5px;
  background-color: white;
  color: black;
}
.defaultProject {
  width: 19vw;
  height: 7vh;
  border: 3px solid white;
  display: flex;
  font-size: 1.25rem;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(0, 0, 0);
  color: white;
  outline: none;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  transition: 0.1s ease-in;
  margin: 10px;
}
.defaultProject:hover {
  transform: scale(1.1);
  background-color: rgba(116, 255, 243, 0.623);
  border-radius: 10px;
}
form {
  border-radius: 20px;
}
.createdTodoDiv {
  grid-template-columns: 12vw 12vw 12vw 12vw 10vw 10vw;
  padding: 10px;
  border: 3px solid grey;
  background-color: black;
  color: white;
  margin-top: 20px;
  margin-bottom: 20px;
}
dialog {
  outline: none;
  border: none;
}
input {
  outline: none;
  padding: 5px 15px;
  border-radius: 15px;
  border: 3px solid white;
  background-color: black;
  color: white;
  font-size: 1.25rem;
}
textarea {
  font-size: 1.25rem;
  background-color: black;
  color: white;
}
#dueDate {
  background-color: beige;
  color: black;
}
dialog {
  border-radius: 20px;
}
#projectForm {
  padding: 15px;
  border-radius: 15px;
  background-color: black;
  color: white;
  width: fit-content;
  font-size: 1.25rem;
  position: relative;
  gap: 10px;
  display: flex;
  flex-direction: column;
  width: fit-content;
}
#projectForm > button {
  background-color: black;
  color: white;
  font-size: 1.25rem;
  border: 3px solid white;
  border-radius: 15px;
}
#projectForm > button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 50px rgb(255, 209, 5);
}

#formTodo,
#updateformTodo {
  padding: 25px;
  background-color: black;
  color: white;
  font-size: 1.25rem;
  position: relative;
  gap: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: fit-content;
}
#formTodo > button,
#updateformTodo > button {
  background-color: black;
  color: white;
  font-size: 1.25rem;
  border: 3px solid white;
  border-radius: 15px;
}
#formTodo > button:hover,
#updateformTodo > button:hover {
  cursor: pointer;
  background-color: white;
  color: black;
  box-shadow: 0px 0px 50px rgb(255, 209, 5);
}
select {
  padding: 5px;
  border-radius: 15px;
  background-color: black;
  color: white;
  font-size: 1.25rem;
}

.ultimateContainer {
  display: grid;
  grid-template-columns: 20vw 5vw 75vw;
}
